 /* reset styles */

  html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: normal;
  }
  table { border-collapse: collapse; border-spacing: 0; }
  td, th, caption { font-weight: normal; text-align: left;}
  img, fieldset { border: 0; }
  ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding:0; margin: 0; list-style: none; }
  q:before, q:after { content:''; }


  html { font: 62.5% sans-serif;}

  /* end reset */

  body {
    padding: 20px;
  }

  .trail line {
    stroke-width: 16;
    stroke-linecap: round;
    stroke:rgba(215,215,215); 
  }

  .trail.minor line, .trail line.minor {
    stroke-width: 6px;
  }

  #lifts line {
    stroke: #c00;
    stroke-width: 3;
    stroke-linecap: round;
  }

  #lifts line:hover {
    stroke-width: 6;
    stroke: #c00;
  }

  .double_black:hover line, .double_black.open line {
    stroke:#f88;
  }

  .trail.tight line {
    stroke-linecap: butt;
  }

  .black:hover line, .black.open line  {
    stroke: #888;
  }

  .blue:hover line, .blue.open line  {
    stroke: #84b2d7;
  }

  .green:hover line, .green.open line {
    stroke: #85d382;
  }

  div.tooltip { 
      position: absolute;     
      text-align: center;      
      padding: 3px;       
      font: 12px sans-serif;
      color: #fff;    
      background: black; 
      border: 0px;   
      pointer-events: none;     
  }

ul.controls {
  border: 1px solid #aaa;
  padding: 4px 4px 4px 2px;
  border-radius: 3px;
  display: block;
  float: left;
  margin-right: 4px;
}

#toggle_trail_classes {
  width: 328px;
}

ul.controls li {
  width: 80px;
  padding: 5px 0 5px 0;
  margin-left: 2px;
  display: block;
  float: left;
  background-color: rgba(215,215,215);
  text-align: center;
  font: 12px sans-serif;
  border-radius: 2px;
}

ul.controls li:hover, ul.controls li.selected  {
  color: #fff;
  background: #666;
  cursor: pointer;
}

#toggle_trail_classes li.green:hover, #toggle_trail_classes li.green.selected { background: #85d382; }
#toggle_trail_classes li.blue:hover, #toggle_trail_classes li.blue.selected  { background: #84b2d7; }
#toggle_trail_classes li.black:hover, #toggle_trail_classes li.black.selected  { background: #888; }
#toggle_trail_classes li.double_black:hover, #toggle_trail_classes li.double_black.selected  { background: #f88; }


ul.controls h2 {
  font: bold 12px sans-serif;
  margin: 0 0 4px 2px;
}

br {
  clear: both;
}